*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

/* ============logo section============*/


.logo-img{
    width: 100%;
    min-width: 300px;
    height: auto;
}

.logo-hr {
    width: 60%;
    margin: auto;
    opacity: 1;
}


@media (max-width: 991px) {    /* md breakpoint */
    .logo-hr {
        width: 50% !important;
    }

    .navv{
        
    }
}

@media (min-width: 992px) {    /* lg breakpoint */
    .logo-hr {
        width: 75%;
    }
}

@media (max-width: 530px) {    /* md breakpoint */
    .logo-hr {
        width: 60% !important;
    }
}









/*=======================logo right section---========*/

.num{
    font-size: 50px;
    letter-spacing: 3px;
}





/*===========================================*/

@media (max-width: 575px){
    .top-right{
        margin-top: 100px;
    }
}

/*================ 425px  font size===========*/

@media (max-width: 425px) {

    .call{
        font-size: 22px;
    }

    .num{
        font-size: 28px;
    }
    .get{
        font-size: 15px; 
    }

}

.bgColor{
    background-color: #8c191b;
}

.navbar-nav li a{
    color: #fff;
}

.fa-bars{
    color: #fff;
    border: none;
    outline: none;
}








/*===============form section ===============*/

.img-div{

}

.img1{
    width: 100%;
}

.bgIMG2{
    background-image: url("images/form_bg.jpg");
    position: center;
    background-size: cover;
}
.question{
    background-color: #8c191b;
    color: #fff;
height: 50px;   

}

.colr{
    color: rgb(15, 53, 89);

}

.number{
    color: black;
    font-weight: bold;
}

.imga{

    transform: rotate(18deg);
}

/* =============para=======*/

.para{
    width: 85%;
    
}


/* =============text area=======*/

textarea{
    width: 100%;
    resize: none !important;

}

.textArea{

}

/*==========form last ========*/
.ask{
    background-color: #8c191b;
    width: 250px;
}
.b{
    border: 2px solid green;
}


.bullett{
   
    width: 16px;
    height: 14px;
}


/*========== 3div 1st div ========*/

.bgColor{
    background-color: #8c191b !important;
    border: none;
    outline: none;
    border-radius: 0px !important;
    color: #fff !important;
}

.hrr{
    height: 2px;
    background-color: black;
    opacity: 1;
    width: 60%;
}





/*  -------------------last-----------------*/
.aaa{
    
    background-color: rgb(129, 128, 128);
}

.shadow{
    height: auto;
    width: 10px !important;

}




/*------------------------------------*/

.colorH4{
    text-align: center;
}

.colorH4 h4{
    color: rgb(132, 131, 131);

}

.colorBrown{
    color: #8c191b;
}

.colrbg{
    background-color: #8c191b !important;
    color: #fff;
    
}

.lastHr{
    height: 5px !important;
}


/* ----------------------footer-----------------*/


.footerr{
    width: 100%;
    height: 18px;
    background-color: #8c191b;
    border-bottom: 10px solid #6e6b6b ;
    box-sizing: border-box;
    margin-top: 80px !important;

}





/*------------------------------------ media query---------------------------------------*/


